# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List popular languages for Data Science
- Jupyter notebook
- Github
- R language

Some of the popular languages that Data Scientists use are:
1. Phyton
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow.
2. NumPy.
3. SciPy.

| Data Science Tools |
|------------------|
| Git |
| Apache Subversion |
| Eclipse IDE |

| Data Science Tools |
|------------------|
| Git |
| Apache Subversion |
| Eclipse IDE |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Auhtor
Joana

## Auhtor
Joana

## Github link
<https://github.com/JuF-123/DataScienceEcosystem/blob/953db18117b0b684c96ddfafbf766a28d70884f2/DataScienceEcosystem%20(1).ipynb>